<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
<label for="fname">Full Name</label><br>
                    <input type="text" name="FullName" id="" value="<%= data.FullName %>"><br>

                    <label for="">UserName</label><br>
                    <input type="email" name="UserName" value="<%= data.UserName %>"><br>

            
                    <label for="">password</label><br>
                    <input type="password" name="password" value="<%= data.password %>" ><br>

                    <label for="">Role</label><br>
                    <input type="text" name="role" id="" placeholder="Admin/Student"  value="<%= data.opt %>"><br>
                    <br>

                      <input type="submit" name="" id="">

    </form>
</body>
</html>