<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
 <label for="fname">Full Name</label><br>
                    <input type="text" name="FullName" id=""><br>

                    <label for="">UserName</label><br>
                    <input type="email" name="UserName"><br>

            
                    <label for="">password</label><br>
                    <input type="password" name="password" ><br>

                    <!-- <label for="">Role</label><br>
                    <input type="text" name="role" id="" placeholder="Admin/Student"><br> -->
                    <br>
                    <select name="rol" id="">
                        <option value="admin">Admin</option>
                        <option value="Student">Student</option>
                    </select>

                      <input type="submit" name="" id="">

    </form>

</body>
</html>